<ion-header class="header">
  <ion-toolbar color="black" class="ion-text-center">
    <ion-button slot="start" class="btn-back" color="black" (click)="back()"> 
      <ion-icon  slot="start" name="arrow-back-circle-outline" class="large-icon"></ion-icon>
    </ion-button>
    <ion-title>Fácil</ion-title>
    <p>Termina antes de los 30 segundos</p>
    <p>Segundos transcurridos: {{ seconds }}</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="container">
    <ion-grid style="margin-top: 0.5rem;">
      <ion-row >
        <ion-col>
          <ion-button (click)="selectPic(0)"  [ngClass]="arrayGame[0] === pregunta? 'notselected' : 'selected'">
            <img src="{{arrayGame[0]}}" alt="0">
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="selectPic(1)" [ngClass]="arrayGame[1] === pregunta? 'notselected' : 'selected'">
            <img src="{{arrayGame[1]}}" alt="1">
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="selectPic(2)" [ngClass]="arrayGame[2] === pregunta? 'notselected' : 'selected'">
            <img src="{{arrayGame[2]}}" alt="2">
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="selectPic(3)" [ngClass]="arrayGame[3] === pregunta? 'notselected' : 'selected'">
            <img src="{{arrayGame[3]}}" alt="3">
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="selectPic(4)" [ngClass]="arrayGame[4] === pregunta? 'notselected' : 'selected'">
            <img src="{{arrayGame[4]}}" alt="4">
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="selectPic(5)" [ngClass]="arrayGame[5] === pregunta? 'notselected' : 'selected'">
            <img src="{{arrayGame[5]}}" alt="5">
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="container-button">
      <button (click)="reset()">
        <span> Reiniciar </span>
      </button>
    </div>
    
  </div>
  

</ion-content>