<ion-header [translucent]="true">
  <ion-toolbar color="black" class="ion-text-center">
    
    <ion-title>
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row class="container ion-text-center">
    <ion-col size="12" class="top text-center scrollable">
      <ion-header class="header">
        Juegos Fácil
      </ion-header>
      <ion-row class="ion-text-center">
        <ion-col size="12" class="contenido">
          @if(facilGames.length === 0){
          <ion-label>No hay juegos guardados</ion-label>
          }
          @else {
          <div *ngFor="let game of facilGames">
            <ion-label>Jugador: {{game.user}} - </ion-label>
            <ion-label>Tiempo: {{game.tiempo}}</ion-label>
            <br>
          </div>
          }
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" class="medium text-center">
      <ion-header class="header">
        Juegos Medio
      </ion-header>
      <ion-row class="ion-text-center">
        <ion-col size="12" class="contenido">
          @if(medioGames.length === 0){
          <ion-label>No hay juegos guardados</ion-label>
          }
          @else {
          <div *ngFor="let game of medioGames">
            <ion-label>Jugador: {{game.user}} - </ion-label>
            <ion-label>Tiempo: {{game.tiempo}}</ion-label>
            <br>
          </div>
          }
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" class="bottom text-center">
      <ion-header class="header">
        Juegos Difícil
      </ion-header>
      <ion-row class="ion-text-center">
        <ion-col size="12" class="contenido">
          @if(dificilGames.length === 0){
          <ion-label>No hay juegos guardados</ion-label>
          }
          @else {

          <div *ngFor="let game of dificilGames">
            
            <ion-label>Jugador: {{game.user}} - </ion-label>
            <ion-label>Tiempo: {{game.tiempo}}</ion-label>
            <br>
          </div>
          }
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>



</ion-content>