<ion-header [translucent]="true" >
  <ion-toolbar color="black" class="ion-text-center">
    <ion-title>
      Jugar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-col size="12">
      <button (click)="moveTo('facil')">
        <span> Fácil </span>
      </button>
    </ion-col>
    <ion-col size="12" >
      <button (click)="moveTo('medio')">
        <span> Medio </span>
      </button>
    </ion-col>
    <ion-col size="12" >
      <button (click)="moveTo('dificil')">
        <span> Difícil </span>
      </button>
    </ion-col>
  </div>
</ion-content>